* {
    min-height: 0;
    min-width: 0;
    font-family: Lexend, "JetBrainsMono NFP";
    font-size: 13px;
    font-weight: 700;
}

window#waybar {
    transition-property: transparency;
    transition-duration: 0.5s;
    background-color: transparent;
    margin-top: 9px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 0px;
    border-width: 0px;
}

#workspaces {
    margin-left: 0.8rem;
    background-color: #24222b;
    margin: 0.4rem 0.25rem;
    border-radius: 8px;
}

#workspaces button {
    padding: 0.2rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #24222b;
    color: #e2e2e2;
}

#workspaces button:hover {
    color: #24222b;
    background-color: #e2e2e2;
}

#workspaces button.active {
    background-color: #E7D2AA;
    color: #24222b;
}

#workspaces button.urgent {
    background-color: #E7D2AA;
    color: #24222b;
}


#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#battery,
#cpu,
#backlight,
#tray,
#memory,
#window,
#mpris {
    padding: 0.2rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #24222b;
}

#clock {
    padding: 0.2rem 0.3rem;
    margin: 0.1rem 0.1rem;
    border-radius: 6px;
    /*background-color: #24222b;*/
}

#group-1 {
    background-color: #24222b;
    margin: 0.4rem 0.25rem;
    /*padding: 0.2rem 0.6rem;*/
    border-radius: 8px;
}

#mpris.playing {
    color: #829FC0;
}

#mpris.paused {
    color: #9e9e9e;
}

#custom-sep {
    padding: 0px;
    color: #9e9e9e;
}

window#waybar.empty #window {
    background-color: transparent;
}

#cpu {
    color: #9BB0CA;
}

#memory {
    color: #A5BAD2;
}

#clock {
    color: #AEC2DA;
}

#clock.simpleclock {
    color: #829FC0;
}

#window {
    color: #e2e2e2;
}

#pulseaudio {
    color: #B7CCE3;
}

#pulseaudio.muted {
    color: #9e9e9e;
}

#custom-logo {
    color: #829FC0;
}

#custom-power {
    color: #E7D2AA;
}

#backlight {
    color: #e2e2e2;
}

#battery {
    color: #829FC0;
}

#battery.critical {
    color: #E7D2AA;
}

#battery.warning {
    color: #9BB0CA;
}

#custom-notification {
    color: #e2e2e2;
}

tooltip {
    background-color: #24222b;
    border: 2px solid #829FC0;
}

