* {
    min-height: 0;
    min-width: 0;
    font-family: Lexend, "JetBrainsMono NFP";
    font-size: 13px;
    font-weight: 700;
}

window#waybar {
    background-color: transparent;
    margin: 9px 6px 0;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* ── WORKSPACES ─────────────────────────────────── */
#workspaces {
    background-color: #251f31;
    margin: 0.4rem 0.25rem;
    border-radius: 8px;
}

#workspaces button {
    padding: 0.2rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #251f31;
    color: #cccfdb;
    transition: background-color 0.2s, color 0.2s;
}

#workspaces button:hover {
    background-color: #cccfdb;
    color: #251f31;
}

#workspaces button.active {
    background-color: #6E97C5;
    color: #251f31;
}

#workspaces button.urgent {
    background-color: #6E97C5;
    color: #251f31;
}

/* ── MÓDULOS COMUNES ────────────────────────────── */
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#battery,
#cpu,
#backlight,
#tray,
#custom-network,
#memory,
#window,
#mpris {
    padding: 0.2rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #251f31;
}

/* ── CLOCK ──────────────────────────────────────── */
#clock {
    padding: 0.2rem 0.3rem;
    margin: 0.1rem 0.1rem;
    border-radius: 6px;
    color: #D8C5BF;
}

#clock.simpleclock {
    color: #7DA1C8;
}

/* ── GROUP ──────────────────────────────────────── */
#group-1 {
    background-color: #251f31;
    margin: 0.4rem 0.25rem;
    border-radius: 8px;
}

/* ── MPRIS ──────────────────────────────────────── */
#mpris.playing {
    color: #7DA1C8;
}

#mpris.paused {
    color: #8e9099;
}

/* ── SEPARADOR ──────────────────────────────────── */
#custom-sep {
    padding: 0;
    color: #8e9099;
}

/* ── WINDOW VACÍO ───────────────────────────────── */
window#waybar.empty #window {
    background-color: transparent;
}

/* ── COLORES POR MÓDULO ─────────────────────────── */
#cpu          { color: #A09AB5;     }
#memory       { color: #D3B4B3;     }
#pulseaudio   { color: #90AACB;     }
#backlight    { color: #cccfdb;     }
#battery      { color: #7DA1C8;    }
#window       { color: #cccfdb; }
#custom-logo  { color: #7DA1C8;     }
#custom-power { color: #6E97C5;     }

#custom-notification { color: #cccfdb; }
#custom-network  { color: #8e9099; }

#pulseaudio.muted  { color: #8e9099; }
#battery.critical  { color: #6E97C5; }
#battery.warning   { color: #A09AB5; }

/* ── TOOLTIP ────────────────────────────────────── */
tooltip {
    background-color: #251f31;
    border: 2px solid #7DA1C8;
}

